// Generated using xcconfig-extractor 0.5.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
TARGETED_DEVICE_FAMILY = 1,2
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
CODE_SIGN_STYLE = Automatic
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 5.0
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
PRODUCT_BUNDLE_IDENTIFIER = fuya.CharaStadio
INFOPLIST_FILE = CharaStadio/Info.plist
DEVELOPMENT_TEAM = 65Z68H8WQ6
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_CXX_LIBRARY = libc++
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_BOOL_CONVERSION = YES
SDKROOT = iphoneos
COPY_PHASE_STRIP = NO
IPHONEOS_DEPLOYMENT_TARGET = 14.3
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_ENABLE_MODULES = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_WARN_COMMA = YES
GCC_WARN_UNUSED_FUNCTION = YES
CLANG_WARN_INFINITE_RECURSION = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
ALWAYS_SEARCH_USER_PATHS = NO
MTL_FAST_MATH = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_NO_COMMON_BLOCKS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES

