<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418544637689-n4idrhustthm13jdaodahhp4nfv5g2i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418544637689-n4idrhustthm13jdaodahhp4nfv5g2i6</string>
	<key>API_KEY</key>
	<string>AIzaSyAlofYQuW1BmPlBp6BeQByz62Mj5N73ibs</string>
	<key>GCM_SENDER_ID</key>
	<string>418544637689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fuya.CharaStadio</string>
	<key>PROJECT_ID</key>
	<string>charastadio-8cd04</string>
	<key>STORAGE_BUCKET</key>
	<string>charastadio-8cd04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418544637689:ios:9854b61be896e1d960f428</string>
</dict>
</plist>